APP_NAME=VulnSphere
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_SECRET=change_this_to_something_random

DB_DRIVER=sqlite
DB_PATH=./database/vulnsphere.db

UPLOAD_DIR=./public/uploads/
MAX_UPLOAD_SIZE=5242880

SESSION_LIFETIME=86400
SESSION_NAME=vs_session

ADMIN_EMAIL=admin@vulnsphere.io
ADMIN_USERNAME=admin
